/* CSS Document */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* line 9, _stylee.scss */


html, body {
    height: 100%;
}
.pin-top {
    position: relative;
	display: none;
  }
.pin-bottom {
position: relative;
}

// Class for when element is pinned
.pinned {
position: fixed !important;
}
.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
}

.logoo{
	font-family: 'Montserrat', sans-serif;
}
.ukuran-font {
	font-size: 11px !important;
} 


/* line 6, style.scss */
.parallax-w {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.no-margin {
	margin: 0px !important;
}
/* label color */
.input-field label {
  color: #424242 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #424242  !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #00bcd4 !important;
  box-shadow: 0 1px 0 0 #00bcd4 !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #880e4f !important;
  box-shadow: 0 1px 0 0 #880e4f !important;
}

/* label focus color */
.input-field input[type=password]:focus + label {
  color: #424242  !important;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #00bcd4 !important;
  box-shadow: 0 1px 0 0 #00bcd4 !important;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid #00bcd4 !important;
  box-shadow: 0 1px 0 0 #00bcd4 !important;
}

.btn-wangsit:hover {
  background-color: #c655ac !important;
}
.btn:focus{ 
  background-color: #c655ac !important; 
}
.datepicker-date-display {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
  background-color: #54264E;
  color: #fff;
  padding: 20px 22px;
  font-weight: 500;
}
